<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Customer App</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  </head>
  <body>
    <div class="container">
      <%- body %>
    </div>
    <!-- checking js is passing then need to append else ignore -->
    <% if (typeof js !== 'undefined' && js) { %>     
      <script src="<%- js %>"></script>
    <% } %>
  </body>
</html>
